---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "首页";
const color = "red"
const fontWeight = "bold";
const fontSize = "2rem";
---
<BaseLayout pageTitle={pageTitle}>
	<style define:vars={{color, fontWeight, fontSize}}>
		p {
			margin: 1em 0;
			color: var(--color);
			font-weight: var(--fontWeight);
			font-size: var(--fontSize);
		}
	</style>

	<h1>Astro</h1>
	<h1>我的Astro站点</h1>
	<p>欢迎来到我的Astro站点!</p>

	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>