---
const { platform, username } = Astro.props;
---
<style>
    a {
        padding: 0.25rem 0.5rem;
        color: white;
        background-color: blue;
        text-decoration: none;
    }
</style>
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>